$light-fire: #FDD8CE;
$fire: #F96E46;

$light-ocean: #CCFBFF;
$ocean: #00E8FC;

$light-grass: #D4F7ED;
$grass: #7AE7C7;

$white: #FCF9F4;
$light-gray: #E3E5E8;
$dark-gray: #545863;
$BC-dark: #2D2F35;

$light-sun: #FDF1CE;
$sun: #F9C846;

$pink: #FFE3E3;

.light-fire {
    background-color: $light-fire;
}
.fire {
    background-color: $fire;
}
.light-ocean {
    background-color: $light-ocean;
}
.ocean {
    background-color: $ocean;
}
.white {
    background-color: $white;
}
.light-grass {
    background-color: $light-grass;
}
.grass {
    background-color: $grass;
}
.light-gray {
    background-color: $light-gray;
}
.dark-gray {
    background-color: $dark-gray;
}
.BC-dark {
    background-color: $BC-dark;
}
.light-sun {
    background-color: $light-sun;
}
.sun {
    background-color: $sun;
}
.pink {
    background-color: $pink;
}